<p id="notice"><%= notice %></p>

<nav class="nav justify-content-end">
  <% if user_signed_in? %>
      <a class="nav-link active" href="/users/edit">User</a>
      <a class="nav-link active" href="reservations#show">Reservations</a>
      <a class="nav-link active" href="/users/sign_out">Sign out</a>
  <%else%>  
      <a class="nav-link active" href="/users/sign_in">Sign in</a>  
  <%end%>
</nav>
<h3>Properties</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price per night</th>
      <th scope="col">Photos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.description %></td>
        <td><%= property.pricexnight %></td>
        <td><%= property.image %></td>
        <td class="btn btn-link"><%= link_to 'Show', property %></td>
        <% if user_signed_in? %>
          <td class="btn btn-link"><%= link_to 'Edit', edit_property_path(property) %></td>
          <td class="btn btn-link"><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <td class="btn btn-link"><%= link_to 'New Reservation', new_reservation_path(property.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<br>
<button type="button" class="btn btn-dark btn-md justify-content-end"><%= link_to 'New Property', new_property_path %></button>
<%end%>
