<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="field form-row">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-row">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class:"form-control" %>
  </div>

  <div class="field form-row">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-row">
    <%= form.label :phone %>
    <%= form.text_field :phone, class:"form-control" %>
  </div>

  <div class="field form-row">
    <%= form.label :numbernights %>
    <%= form.text_field :numbernights, class:"form-control" %>
  </div>

  <div class="field form-row">
    <%= form.label :numberguests %>
    <%= form.text_field :numberguests, class:"form-control"  %>
  </div>

  <div>
    <%= form.hidden_field :property_id, value: property.id %>
  </div>

  <div>
    <%= form.hidden_field :property_value, value: property.pricexnight %>
    <%= form.label :total %>
    <%= form.text_field :total , disabled: true,  class:"form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit  class:"btn btn-primary" %>
  </div>

</form>  
<% end %>


